{% extends 'layout/layout.html.twig' %}
{% block mailco %}
    {% if app.user is not null %}
        {{ app.user.email }}
    {% endif %}
{% endblock %}
{% block nameco %}
    {% if app.user is not null %}
        {{ app.user.username }}
    {% endif %}
{% endblock %}
{% block loginbtn %}
    {% if app.user is not null %}
        <li class="account_area"><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-lock"></i> Se
                Déconnecter</a></li>
    {% else %}
        <li class="account_area"><a href="{{ path('fos_user_registration_register') }}"><i class="fa fa-lock"></i>
                Register</a></li>
        <li class="account_area"><a href="{{ path('fos_user_security_login') }}"><i class="fa fa-lock"></i> Se Connecter</a>
        </li>

    {% endif %}

{% endblock %}

{#{% block notificationBlock %}#}
    {#{% if app.user is not null %}#}

        {#{% for notif in notifs %}#}
            {#{% if app.user.id != notif.idProduit.idArtisan %}#}
                {#<div class="mc-sin-pro fix">#}
                    {#<a href="#" class="mc-pro-image float-left"><img#}
                                {#src="{{ asset('bundles/main/img/mini-cart/2.jpg') }}"#}
                                {#alt=""/></a>#}
                    {#<div class="mc-pro-details fix">#}
                        {#<a href="#" style="font-size: 12px">{{ notif.message }}</a><br>#}
                        {#<img style="width: 60px" src="{{ asset("Uploads/images/") ~ notif.idProduit.image }}" alt=""/>#}
                        {#<a href="{{ path('produit_artisan_details', {'id':notif.idProduit.id}) }}">{{ notif.idProduit.titre }}</a>#}

                        {#<a class="pro-del" href="#"><i#}
                                    {#class="fa fa-times-circle"></i></a>#}
                    {#</div>#}

                {#</div>#}
            {#{% endif %}#}
        {#{% endfor %}#}
        {#<!-- Cart Button -->#}
        {#<div class="mc-button">#}
            {#<a href="#" class="checkout_btn">Voir plus</a>#}
        {#</div>#}

    {#{% endif %}#}
{#{% endblock %}#}
{% block body %}
<div id="page_item_area">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 text-left">
                <h3>Evenement</h3>
            </div>
        </div>
    </div>
</div>
{% endblock body %}