{% extends 'layout/adminLayout.html.twig' %}
{% block mailco %}
    {% if app.user is not null %}
        {{ app.user.email }}
    {% endif %}
{% endblock %}
{% block nameco %}
    {% if app.user is not null %}
        {{ app.user.username }}
    {% endif %}
{% endblock %}
{% block loginbtn %}
    {% if app.user is not null %}
        <li class="account_area"><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-lock"></i> Se
                Déconnecter</a></li>
    {% else %}
        <li class="account_area"><a href="{{ path('fos_user_registration_register') }}"><i class="fa fa-lock"></i>
                Register</a></li>
        <li class="account_area"><a href="{{ path('fos_user_security_login') }}"><i class="fa fa-lock"></i> Se Connecter</a>
        </li>

    {% endif %}
{% endblock %}
{% block body %}
    <br><br><br><br><br><br><br><br>
    <div class="row" style="margin-left: 200px">



        <div style="padding-bottom: 2px; margin-left: 150px">
            <table class="table table-striped table-fw-widget table-hover" style="font-size: larger">
                <tbody class="no-border-x">
                <tr>
                    <td class="onhovericon" style="font-size:20px; width: 30px;">
                        <a href="">
                    <span class="icon s7-close-circle onhovericon" data-toggle="tooltip" data-placement="top"
                          title="" data-original-title="close"></span>
                        </a>
                    </td>
                    <td style="width: 120px;"></td>
                    <td style="width: 120px;"><span class="labels">Titre : </span> </td>
                    <td style="width: 300px;"><span class="labels">Description : </span> </td>
                    <td style="width: 300px;"><span class="labels">Date : </span></td>


                    <td class="onhovericon" style="font-size:25px;">

                    </td>
                    <td class="onhovericon" style="font-size:25px;">

                    </td>


                </tr>
                </tbody>
            </table>

        </div>


    </div>


















{% endblock %}