{% extends 'layout/layout.html.twig' %}
{% block loginbtn %}
    {% if app.user is not null %}
        <li class="account_area"><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-lock"></i> Se Déconnecter</a></li>
    {% else %}
        <li class="account_area"><a href="{{ path('fos_user_registration_register') }}"><i class="fa fa-lock"></i> Register</a></li>
        <li class="account_area"><a href="{{ path('fos_user_security_login') }}"><i class="fa fa-lock"></i> Se Connecter</a></li>

    {% endif %}
{% endblock %}

{% block admin %}
    {% if is_granted('ROLE_ADMIN') %}
        <li><a href="{{ path('allPub') }}">Publicite</a></li>
        <li>
            <a href="{{ path('blog') }}">Blog <i class="fa fa-angle-down"></i></a>

        </li>
        <li>
            <a href="{{ path('allreclam') }}">Reclamation <i class="fa fa-angle-down"></i> </a>
        </li>

        <li><a href="{{ path('ff') }}">Profil admin</a></li>


    {% else %}
        <li><a href="{{ path('contact') }}">contact</a></li>
        <li>
            <a href="{{ path('blog') }}">Blog <i class="fa fa-angle-down"></i></a>

        </li>

        <li><a href="{{ path('ff') }}">Profil</a></li>
    {% endif %}
{% endblock %}


{% block body %}
    <div class="product_item">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                {% for rec in recs %}
                    <div class="col-md-6 col-xs-12">
                        <div class="prdct_dtls_content">
                            <div class="pd_text">
                            <span class="pd_title"
                                  style="font-size: 14px; display: contents;">Nom  :</span> {{ rec.Name }}
                            </div>
                                <div class="pd_text">
                            <span class="pd_title"
                                  style="font-size: 14px; display: contents;">Email  :</span> {{ rec.Email }}
                                </div>
                                    <div class="pd_text">
                            <span class="pd_title"
                                  style="font-size: 14px; display: contents;">Sujbect :</span> {{ rec.Subject }}
                                    </div>
                                        <div class="pd_text">
                            <span class="pd_title"
                                  style="font-size: 14px; display: contents;">Message  :</span> {{ rec.Message }}
                                        </div>
                    </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="blog_pagination text-center" aria-label="Page navigation example">
        {{ knp_pagination_render(recs) }}
    </div>

{% endblock %}



        {#<span class="pd_title">{{ user.username }}</span>#}
        {#<div class="pd_text">#}
                            {#<span class="pd_title"#}
                                  {#style="font-size: 14px; display: contents;">Nom  :</span> {{ user.nom }}#}
        {#</div>#}
        {#<div class="pd_text">#}
                            {#<span class="pd_title"#}
                                  {#style="font-size: 14px; display: contents;">Prenom  :</span> {{ user.prenom }}#}
        {#</div>#}
        {#<div class="pd_text">#}
                            {#<span class="pd_title"#}
                                  {#style="font-size: 14px; display: contents;">E-mail  :</span> {{ user.email }}#}
        {#</div>#}
        {#<div class="pd_text">#}
                            {#<span class="pd_title"#}
                                  {#style="font-size: 14px; display: contents;">Date de naissance  :</span> {{ user.birthdate|date("m/d/Y") }}#}
        {#</div>#}
        {#<div class="pd_text">#}
                            {#<span class="pd_title"#}
                                  {#style="font-size: 14px; display: contents;">Phone  :</span> {{ user.phone }}#}
        {#</div>#}
        {#<div class="pd_text">#}
                            {#<span class="pd_title"#}
                                  {#style="font-size: 14px; display: contents;">Adresse  :</span> {{ user.adresse }}#}
        {#</div>#}
        {#<div class="pd_btn fix" >#}
            {#<a class="btn btn-default acc_btn" href="{{ path('fos_user_change_password') }}">Change Password</a>#}
        {#</div>#}
    {#</div>#}