{% extends 'layout/adminlayout.html.twig' %}
{% block mailco %}
    {% if app.user is not null %}
        {{ app.user.email }}
    {% endif %}
{% endblock %}
{% block nameco %}
    {% if app.user is not null %}
        {{ app.user.username }}
    {% endif %}
{% endblock %}
{% block loginbtn %}
    {% if app.user is not null %}
        <li class="account_area"><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-lock"></i> Se Déconnecter</a></li>
    {% else %}
        <li class="account_area"><a href="{{ path('fos_user_registration_register') }}"><i class="fa fa-lock"></i> Register</a></li>
        <li class="account_area"><a href="{{ path('fos_user_security_login') }}"><i class="fa fa-lock"></i> Se Connecter</a></li>

    {% endif %}
{% endblock %}

{% block admin %}
    {% if is_granted('ROLE_ADMIN') %}
        <li><a href="{{ path('allPub') }}">Publicite</a></li>
        <li>
            <a href="{{ path('blog') }}">Blog <i class="fa fa-angle-down"></i></a>

        </li>
        <li>
            <a href="{{ path('allreclam') }}">Reclamation <i class="fa fa-angle-down"></i> </a>
        </li>

        <li><a href="{{ path('ff') }}">Profil admin</a></li>


    {% else %}
        <li><a href="{{ path('contact') }}">contact</a></li>
        <li>
            <a href="{{ path('blog') }}">Blog <i class="fa fa-angle-down"></i></a>

        </li>

        <li><a href="{{ path('ff') }}">Profil</a></li>
    {% endif %}
{% endblock %}


{% block body %}

    <div id="page_item_area" style="margin-left: 200px ; background: #524D4D">
        <div class="container ">
            <div class="row">
                <div class="col-sm-9 ">
                    <h3>Reclamations</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="product_item">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                {% for rec in recs %}

                    <div class="col-md-6 col-xs-12">
                        <div class="prdct_dtls_content">
                            {% if rec.etat == 1 %}
                            <div class="pd_text">
                            <span class="pd_title"
                                  style="font-size: 14px; display: contents;">Etat  :</span> Traité
                            </div>
                            {% else %}
                                <div class="pd_text">
                            <span class="pd_title"
                                  style="font-size: 14px; display: contents;">Etat  :</span> Non Traité
                                </div>
                            {% endif %}
                            <div class="pd_text">
                            <span class="pd_title"
                                  style="font-size: 14px; display: contents;">Etat  :</span> {{ rec.etat }}
                            </div>
                            <div class="pd_text">
                            <span class="pd_title"
                                  style="font-size: 14px; display: contents;">Nom  :</span> {{ rec.Name }}
                            </div>
                                <div class="pd_text">
                            <span class="pd_title"
                                  style="font-size: 14px; display: contents;">Email  :</span> {{ rec.Email }}
                                </div>
                                    <div class="pd_text">
                            <span class="pd_title"
                                  style="font-size: 14px; display: contents;">Sujbect :</span> {{ rec.Subject }}
                                    </div>
                                        <div class="pd_text">
                            <span class="pd_title"
                                  style="font-size: 14px; display: contents;">Message  :</span> {{ rec.Message }}
                                        </div>
                            {% if rec.etat == false %}
                            <form action="{{ path('reclamer') }}">
                                <input type="hidden" value="{{ rec.id }}" name="id">
                                <button class="btn btn-default acc_btn">Reclamer</button>
                            </form>
                            {% endif %}
                    </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="blog_pagination text-center" aria-label="Page navigation example">
        {{ knp_pagination_render(recs) }}
    </div>

{% endblock %}



