{% trans_default_domain 'FOSUserBundle' %}
<div class="login_page_area">
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-sm-6 col-xs-12">
                {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
                <div class="create_account_area">
                    <h2 class="caa_heading">Final Step you have to register </h2>
                    <div class="caa_form_area">
                        <div class="caa_form_group">
                            <div class="login_email">
                                <label>Username</label>
                                <div class="input-area">
                                    {{ form_widget(form.username,{'attr':{'class':'form-control','placeholder':'Saisir votre username'}}) }}
                                </div>
                            </div>
                            <div class="login_email">
                                <label>Nom</label>
                                <div class="input-area">
                                    {{ form_widget(form.nom,{'attr':{'class':'form-control','placeholder':'Saisir votre nom'}}) }}
                                </div>
                            </div>
                            <div class="">
                                <label>Prenom</label>
                                <div class="input-area">
                                    {{ form_widget(form.prenom,{'attr':{'class':'form-control','placeholder':'Saisir votre prenom'}}) }}
                                </div>
                            </div>
                            <div class="">
                                <label>Date de naissance</label>
                                <div class="input-area">
                                    {{ form_widget(form.birthdate,{'attr':{'class':'form-control'}}) }}
                                </div>
                            </div>
                            <div class="">
                                <label>Email</label>
                                <div class="input-area">
                                    {{ form_widget(form.email,{'attr':{'class':'form-control','placeholder':'Saisir votre email'}}) }}
                                </div>
                            </div>
                            <div class="">
                                <label>Mot de passe</label>
                                <div class="input-area">
                                    {{ form_widget(form.plainPassword.first,{'attr':{'class':'form-control','placeholder':'Mdp'}}) }}
                                </div>
                            </div>
                            <div class="">
                                <label>Confirmer le mot de passe</label>
                                <div class="input-area">
                                    {{ form_widget(form.plainPassword.second,{'attr':{'class':'form-control','placeholder':'Mdp'}}) }}
                                </div>
                            </div>
                            <div class="">
                                <label>Adresse</label>
                                <div class="input-area">
                                    {{ form_widget(form.adresse,{'attr':{'class':'form-control','placeholder':'Saisir votre adresse'}}) }}
                                </div>
                            </div>
                            <div class="">
                                <label>Telephone</label>
                                <div class="input-area">
                                    {{ form_widget(form.phone,{'attr':{'class':'form-control','placeholder':'Saisir votre telephone'}}) }}
                                </div>
                            </div>
                            <div class="">
                                <label>Membre</label>
                                <div class="input-area">
                                    {{ form_widget(form.roles,{'attr':{'class':'form-control','name':'fos_user_registration_form[roles][0]'}}) }}
                                </div>
                            </div>
                            <button type="submit" id="_submit" name="_submit" class="btn btn-default acc_btn">
                                <span> <i class="fa fa-lock btn_icon"></i> Sign in </span>
                            </button>
                        </div>
                    </div>
                </div>
                {{ form_end(form) }}

            </div>

        </div>
    </div>
</div>
