<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SoukLemdina - E-commerce Traditionnel </title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,500,600,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Handlee" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/animate.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/owl.theme.default.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/owl.carousel.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/meanmenu.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/venobox.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/font-awesome.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('style.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/responsive.css') }}"/>
    {% block stylesheets %}{% endblock %}


    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    {#<div class="preloader">#}
    {#<div class="status-mes">#}
    {#<div class="bigSqr">#}
    {#<div class="square first"></div>#}
    {#<div class="square second"></div>#}
    {#<div class="square third"></div>#}
    {#<div class="square fourth"></div>#}
    {#</div>#}
    {#<div class="text_loading text-center">loading</div>#}
    {#</div>#}
    {#</div>#}

    <header id="header_area">
        <div class="header_top_area">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="hdr_tp_left">
                            {% block testuser %}
                            <div class="call_area">
                                <span class="single_con_add"><i class="fa fa-user"></i> {% block nameco %}{% endblock %}</span>
                                <span class="single_con_add"><i
                                            class="fa fa-envelope"></i> {% block mailco %} {% endblock %}</span>
                            </div>
                            {% endblock %}
                        </div>
                    </div>


                    <div class="col-xs-12 col-sm-6">
                        <ul class="hdr_tp_right text-right">
                            {% block loginbtn %}
                                <li class="account_area"><a href="{{ path('fos_user_registration_register') }}"><i
                                                class="fa fa-lock"></i> Register</a></li>
                                <li class="account_area"><a href="{{ path('fos_user_security_login') }}"><i
                                                class="fa fa-lock"></i> Se Connecter</a></li>
                            {% endblock %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="header_btm_area">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-3">
                        <a class="logo" href="{{ path('main_homepage') }}"> <img alt=""
                                                                                 src="{{ asset('bundles/main/img/logo.png') }}"></a>
                    </div>
                    <!--  End Col -->

                    <div class="col-xs-12 col-sm-12 col-md-9 text-right">
                        <div class="menu_wrap">
                            <div class="main-menu">
                                <nav>
                                    <ul>
                                        <li>
                                            <a href="{{ path('main_homepage') }}">home</a>
                                        </li>

                                        <li>
                                            <a href="{{ path('shop_produit') }}">Shop <i
                                                        class="fa fa-angle-down"></i></a>
                                            <!-- Sub Menu -->
                                            <ul class="sub-menu">

                                                <li><a href="{{ path('ecommerce_homepage') }}">Cart</a></li>
                                                <li><a href="{{ path('wishlist') }}">Wishlist</a></li>
                                            </ul>
                                        </li>

                                        {% block admin %}
                                            {% if app.user is not null %}
                                                <li>
                                                    <a href="{{ path('contact') }}">Reclamations</a>
                                                </li>
                                            {% else %}
                                                <li>
                                                    <a href="{{ path('fos_user_security_login') }}">Reclamations</a>
                                                </li>
                                            {% endif %}

                                            <li>
                                                <a href="{{ path('blog') }}">Blog <i class="fa fa-angle-down"></i></a>
                                                <ul class="sub-menu">
                                                    <li><a href="{{ path('blog') }}">Tous les articles</a></li>
                                                    {% if app.user is not null %}
                                                        <li><a href="{{ path('ajouter_blog') }}">Ajouter un blog</a>
                                                        </li>
                                                    {% endif %}
                                                </ul>
                                            </li>
                                            {% if app.user is not null %}
                                                <li><a href="{{ path('ff') }}">Profil</a></li>
                                            {% endif %}
                                        {% endblock %}
                                        {% if app.user is not null %}
                                            <li>

                                                <div class="cart_menu_area">
                                                    <div class="cart_icon">
                                                        <a href="#"><i class="fa fa-bell" style="color: #33d286"
                                                                       aria-hidden="true"></i></a>
                                                    </div>
                                                    <!-- Mini Cart Wrapper -->
                                                    <div class="mini-cart-wrapper">
                                                        <!-- Product List -->
                                                        <div class="mc-pro-list fix">
                                                            {% block notificationBlock %}
                                                            {% endblock %}

                                                        </div>


                                                    </div>
                                                </div>

                                            </li>
                                        {% endif %}
                                    </ul>
                                </nav>
                            </div>
                            <!--  End Main Menu -->


                            <div class="right_menu">
                                <ul class="nav justify-content-end">
                                    <li>
                                        <div class="search_icon">
                                            <i class="fa fa-search search_btn" aria-hidden="true"></i>
                                            <div class="search-box">
                                                <form action="#" method="get">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control"
                                                               placeholder="enter keyword"/>
                                                        <button type="submit" class="btn btn-default"><i
                                                                    class="fa fa-search"></i></button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </li>
                                    {% if app.user is not null %}
                                    <li>
                                        <div class="cart_menu_area">
                                            <div class="cart_icon">
                                                <a href="#"><i class="fa fa-shopping-bag "
                                                               aria-hidden="true"></i></a>
                                                <span class="cart_number">2</span>
                                            </div>


                                            <!-- Mini Cart Wrapper -->
                                            <div class="mini-cart-wrapper">
                                                <!-- Product List -->
                                                <div class="mc-pro-list fix">
                                                    <div class="mc-sin-pro fix">
                                                        <a href="#" class="mc-pro-image float-left"><img
                                                                    src="{{ asset('bundles/main/img/mini-cart/1.jpg') }}"
                                                                    alt=""/></a>
                                                        <div class="mc-pro-details fix">
                                                            <a href="#">This is Product Name</a>
                                                            <span>1x$25.00</span>
                                                            <a class="pro-del" href="#"><i
                                                                        class="fa fa-times-circle"></i></a>
                                                        </div>
                                                    </div>
                                                    <div class="mc-sin-pro fix">
                                                        <a href="#" class="mc-pro-image float-left"><img
                                                                    src="{{ asset('bundles/main/img/mini-cart/2.jpg') }}"
                                                                    alt=""/></a>
                                                        <div class="mc-pro-details fix">
                                                            <a href="#">This is Product Name</a>
                                                            <span>1x$25.00</span>
                                                            <a class="pro-del" href="#"><i
                                                                        class="fa fa-times-circle"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Sub Total -->
                                                <div class="mc-subtotal fix">
                                                    <h4>Subtotal <span>$50.00</span></h4>
                                                </div>
                                                <!-- Cart Button -->
                                                <div class="mc-button">
                                                    <a href="#" class="checkout_btn">checkout</a>
                                                </div>
                                            </div>
                                        </div>

                                    </li>
                                    {% else %}
                                    <li>
                                        <div class="cart_menu_area">
                                            <div class="cart_icon">
                                                <a href="#"><i class="fa fa-shopping-bag "
                                                               aria-hidden="true"></i></a>
                                                <span class="cart_number"></span>
                                            </div>
                                            <div class="mini-cart-wrapper">
                                                <!-- Product List -->
                                                <div class="mc-pro-list fix">
                                                    <div class="mc-sin-pro fix">
                                                             <ul><li class="account_area"><a href="{{ path('fos_user_registration_register') }}">
                                                             <i class="fa fa-lock"></i> Register</a></li>
                                                             <li class="account_area"><a href="{{ path('fos_user_security_login') }}">
                                                             <i class="fa fa-lock"></i> Se Connecter</a></li>
                                                             </ul>
                                                    </div>
                                                </div>
                                            </div>
                                         </div>
                                     </li>
                    {% endif %}
                    </ul>
                </div>
            </div>
        </div><!--  End Col -->
        </div>
        </div>
        </div>
    </header>
</head>

<body>

{% block body %}

    {% block fos_user_content %}
    {% endblock %}
{% endblock %}
{% block javascripts %}{% endblock %}

<script src="{{ asset('js/vendor/jquery-1.12.4.min.js') }}"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
<script src="{{ asset('js/jquery.meanmenu.min.js') }}"></script>
<script src="{{ asset('js/jquery.mixitup.js') }}"></script>
<script src="{{ asset('js/jquery.counterup.min.js') }}"></script>
<script src="{{ asset('js/waypoints.min.js') }}"></script>
<script src="{{ asset('js/wow.min.js') }}"></script>
<script src="{{ asset('js/venobox.min.js') }}"></script>
<script src="{{ asset('js/owl.carousel.min.js') }}"></script>
<script src="{{ asset('js/simplePlayer.js') }}"></script>
<script src="{{ asset('js/main.js') }}"></script>
<footer class="footer_area">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="single_ftr">
                    <h4 class="sf_title">Contacts</h4>
                    <ul>
                        <li>Z.I. Chotrana II B.P. 160، Pôle Technologique El Ghazela ، Ariana 2088</li>
                        <li>(+216) 92 74 74 00 <br> (+216) 52 28 26 81</li>
                        <li>pidevk@gmail.com</li>
                    </ul>
                </div>
            </div> <!--  End Col -->

            <div class="col-md-3 col-sm-6">
                <div class="single_ftr">
                    <h4 class="sf_title">Information</h4>
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Delivery Information</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms & Conditions</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
            </div> <!--  End Col -->

            <div class="col-md-3 col-sm-6">
                <div class="single_ftr">
                    <h4 class="sf_title">Services</h4>
                    <ul>
                        <li><a href="#">Returns</a></li>
                        <li><a href="#">Site Map</a></li>
                        <li><a href="#">Wish List</a></li>
                        <li><a href="#">My Account</a></li>
                        <li><a href="#">Order History</a></li>
                    </ul>
                </div>
            </div> <!--  End Col -->

            <div class="col-md-3 col-sm-6">
                <div class="single_ftr">
                    <h4 class="sf_title">Newsletter</h4>
                    <div class="newsletter_form">
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have </p>
                        <form method="post" class="form-inline">
                            <input name="EMAIL" id="email" placeholder="Enter Your Email" class="form-control"
                                   type="email">
                            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                </div>
            </div> <!--  End Col -->

        </div>
    </div>


    <div class="ftr_btm_area">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                </div>
                <div class="col-sm-4">
                    <p class="copyright_text text-center">&copy; 2018 All Rights Reserved SoukLemdina</p>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>