{% extends 'layout/layout.html.twig' %}
{% block mailco %}
    {% if app.user is not null %}
        {{ app.user.email }}
    {% endif %}
{% endblock %}
{% block nameco %}
    {% if app.user is not null %}
        {{ app.user.username }}
    {% endif %}
{% endblock %}

{% block notificationBlock %}
    {% if app.user is not null %}

        {% for notif in notifs %}
            {% if app.user.id != notif.idProduit.idArtisan %}
                <div class="mc-sin-pro fix">
                    <a href="#" class="mc-pro-image float-left"><img
                                src="{{ asset('bundles/main/img/mini-cart/2.jpg') }}"
                                alt=""/></a>
                    <div class="mc-pro-details fix">
                        <a href="#" style="font-size: 12px">{{ notif.message }}</a><br>
                        <img style="width: 60px" src="{{ asset("Uploads/images/") ~ notif.idProduit.image }}" alt=""/>
                        <a href="{{ path('produit_artisan_details', {'id':notif.idProduit.id}) }}">{{ notif.idProduit.titre }}</a>

                        <a class="pro-del" href="#"><i
                                    class="fa fa-times-circle"></i></a>
                    </div>

                </div>
            {% endif %}
        {% endfor %}
        <!-- Cart Button -->
        <div class="mc-button">
            <a href="#" class="checkout_btn">Voir plus</a>
        </div>

    {% endif %}
{% endblock %}
{% block loginbtn %}
    {% if app.user is not null %}
        <li class="account_area"><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-lock"></i> Se
                Déconnecter</a></li>
    {% else %}
        <li class="account_area"><a href="{{ path('fos_user_registration_register') }}"><i class="fa fa-lock"></i>
                Register</a></li>
        <li class="account_area"><a href="{{ path('fos_user_security_login') }}"><i class="fa fa-lock"></i> Se Connecter</a>
        </li>

    {% endif %}

{% endblock %}
 {% block body %}
     <div id="page_item_area">
         <div class="container">
             <div class="row">
                 <div class="col-sm-6 text-left">
                     <h3>About Us</h3>
                 </div>

                 <div class="col-sm-6 text-right">
                     <ul class="p_items">
                         <li><a href="#">home</a></li>
                         <li><span>About Us</span></li>
                     </ul>
                 </div>
             </div>
         </div>
     </div>

     <!-- About Page -->

     <div class="about_page_area fix">
         <div class="container">
             <div class="row about_inner">
                 <div class="about_img_area col-lg-6 col-md-12 col-xs-12">
                     <div data-video="NrmMk1Myrxc" id="video">
                         <img src="img/screenshot.jpg" alt="Video Screenshot">
                     </div>
                 </div>

                 <div class="about_content_area col-lg-6  col-md-12 col-xs-12">
                     <h2>Who we are</h2>
                     <p>WE ARE THE CHAMPIONS</p>
                     <p>IT CREW</p>
                 </div>

             </div>

             <div class="team_area">
                 <div class="row">
                     <div class="col-md-12 text-center">
                         <div class="section_title">
                             <h2>Our <span>Team</span></h2>
                             <div class="divider"></div>
                         </div>
                     </div>
                 </div>

                 <div class="row">
                     <div class="col-lg-3 col-md-4 col-sm-6">
                         <div class="our-team">
                             <div class="pic">
                                 <img src="{{ asset('img/team/1.jpg') }}" alt="">
                             </div>
                             <div class="team-content">
                                 <h3 class="title">Hadj Ali Farouk</h3>
                                 <span class="post">web developer</span>
                                 <ul class="social">
                                     <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                     <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                     <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                     <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                 </ul>
                             </div>
                         </div>
                     </div><!-- End Col -->

                     <div class="col-lg-3 col-md-4 col-sm-6">
                         <div class="our-team">
                             <div class="pic">
                                 <img src="{{ asset('img/team/2.jpg') }}" alt="">
                             </div>
                             <div class="team-content">
                                 <h3 class="title">Ben Hassouna Nihel</h3>
                                 <span class="post">Web Designer</span>
                                 <ul class="social">
                                     <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                     <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                     <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                     <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                 </ul>
                             </div>
                         </div>
                     </div><!-- End Col -->

                     <div class="col-lg-3 col-md-4 col-sm-6">
                         <div class="our-team">
                             <div class="pic">
                                 <img src="{{ asset('img/team/3.jpg') }}" alt="">
                             </div>
                             <div class="team-content">
                                 <h3 class="title">Foutati Karim</h3>
                                 <span class="post">Web Designer</span>
                                 <ul class="social">
                                     <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                     <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                     <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                     <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                 </ul>
                             </div>
                         </div>
                     </div><!-- End Col -->

                     <div class="col-lg-3 col-md-4 col-sm-6">
                         <div class="our-team">
                             <div class="pic">
                                 <img src="{{ asset('img/team/4.jpg') }}" alt="">
                             </div>
                             <div class="team-content">
                                 <h3 class="title">Hajri Nihel</h3>
                                 <span class="post">Web Designer</span>
                                 <ul class="social">
                                     <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                     <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                     <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                     <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                 </ul>
                             </div>
                         </div>
                     </div><!-- End Col -->

                 </div>

             </div>
         </div>
     </div>

 {% endblock %}