{% extends 'layout/layout.html.twig' %}
{% block mailco %}
    {% if user is not null %}
             {{ user.email }}
        {% endif %}
{% endblock %}
{% block loginbtn %}
    {% if user is not null %}
        <li class="account_area"><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-lock"></i> Se Déconnecter</a></li>
    {% else %}
        <li class="account_area"><a href="{{ path('fos_user_registration_register') }}"><i class="fa fa-lock"></i> Register</a></li>
        <li class="account_area"><a href="{{ path('fos_user_security_login') }}"><i class="fa fa-lock"></i> Se Connecter</a></li>

    {% endif %}

{% endblock %}
{% block body %}
    <section id="slider_area" class="text-center">
        <div class="slider_active owl-carousel">


    {% for p in produits %}
        {% set i = 0 %}
        {% for x in produitp %}
            {% if x.idProduit == p.id and i == 0 %}
                {% set i = 1 %}
            <div class="single_slide" style="background-image: url({{ asset(p.image) }}); background-size: cover; background-position: center ;">
                <div class="container">
                    <div class="single-slide-item-table">
                        <div class="single-slide-item-tablecell">
                            <div class="slider_content text-center slider-animated-2">
                                <p class="animated">{{ p.categorie }}</p>
                                <h1 class="animated">{{ p.titre }}</h1>
                                <h1 class="animated">{{ x.taux }}%</h1>

                                <a href="{{ path('detailspromotion',{'id':p.id}) }}" class="btn main_btn animated">Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    {% endfor %}
        </div>
    </section>

<div class="row">
    <div class="col-md-3">
        {% for Pub in Pubs  %}
            {% if Pub.datedeb|date("m/d/Y")  <= "now"|date("m/d/Y")  %}
                {% if "now"|date("m/d/Y") <= Pub.datefin|date("m/d/Y")   %}
                    <div class="single_blog" >
                        <div class="single_blog_img">
                            <img src="{{ asset('img/blog/1-full.jpg') }}" alt="">
                            <div class="blog_date text-center">
                                <div class="bd_month">{{ Pub.datedeb |date("m/d/Y") }}</div>
                                <div class="bd_month">{{ Pub.datefin |date("m/d/Y") }}</div>
                            </div>
                        </div>
                    </div>
            {% endif %}
            {% endif %}

        {% endfor %}
    </div>

    <div class="col-md-8" >
    <div class="product_item" style="width: 1268px">

             {% for produit in produits %}
            <div class="col-lg-3 col-md-4 col-sm-6 mix sale">
                <div class="single_product">
                    <div class="product_image">
                        <img src="{{ asset ('img/product/1.jpg') }}" alt=""/>
                        <div class="new_badge">New</div>
                        <div class="box-content">

                            <a href="#"><i class="fa fa-cart-plus"></i></a>
                            <a href="{{ path('product_details',{'id':produit.id}) }}"><i class="fa fa-search"></i></a>
                        </div>
                    </div>

                    <div class="product_btm_text">
                        <h4><a href="#">{{ produit.titre}}</a></h4>
                        <div class="p_rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <span class="price">{{ produit.prix}}</span>

                    </div>
                </div>
            </div>


    {% endfor %}
    </div>
    </div>
</div>
    <section id="slider_area" class="text-center">
        <div class="slider_active owl-carousel">
            {% for Pub in Pubs %}
                {% if Pub.datedeb|date("m/d/Y")  <= "now"|date("m/d/Y")  %}
                    {% if "now"|date("m/d/Y") <= Pub.datefin|date("m/d/Y")   %}
                        <div class="single_slide" style="background-image: url({{ asset('img/blog/1-full.jpg') }}); background-size: cover;height: 150px;background-position: center ;">
                            <div class="container">
                                <div class="single-slide-item-table">
                                    <div class="single-slide-item-tablecell">
                                        <div class="slider_content text-center slider-animated-2">
                                            <div class="bd_month">{{ Pub.datedeb |date("m/d/Y") }}</div>
                                            <div class="bd_month">{{ Pub.datefin |date("m/d/Y") }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </section>

{% endblock %}