{% extends 'layout/layout.html.twig' %}
{% block mailco %}
    {% if app.user is not null %}
        {{ app.user.email }}
    {% endif %}
{% endblock %}
{% block nameco %}
    {% if app.user is not null %}
        {{ app.user.username }}
    {% endif %}
{% endblock %}
{% block loginbtn %}
    {% if user is not null %}
        <li class="account_area"><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-lock"></i> Se
                Déconnecter</a></li>
    {% else %}
        <li class="account_area"><a href="{{ path('fos_user_registration_register') }}"><i class="fa fa-lock"></i>
                Register</a></li>
        <li class="account_area"><a href="{{ path('fos_user_security_login') }}"><i class="fa fa-lock"></i> Se Connecter</a>
        </li>

    {% endif %}

{% endblock %}
{% block body %}



    <section id="slider_area" class="text-center">
        <div class="slider_active owl-carousel">


            {% for p in produits %}
                {% set i = 0 %}
                {% for x in produitp %}
                    {% if x.idProduit == p.id and i == 0 %}
                        {% set i = 1 %}
                        <div class="single_slide"
                             style="background-image: url({{ asset("Uploads/images/") ~ p.image }}); background-size: cover; background-position: center ;">
                            <div class="container">
                                <div class="single-slide-item-table">
                                    <div class="single-slide-item-tablecell">
                                        <div class="slider_content text-left slider-animated-1">
                                            <p class="animated">{{ p.categorie }}</p>
                                            <h1 class="animated">{{ p.titre }}</h1>
                                            <h1 class="animated">{{ x.taux }}%</h1>

                                            <a href="{{ path('detailspromotion',{'id':p.id}) }}"
                                               class="btn main_btn animated">Details</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
    </section>


    <br><br><br>

    <div class="row">
        <div class="col-md-2">
            {% for Pub in Pubs %}
                {% if Pub.datedeb|date("m/d/Y")  <= "now"|date("m/d/Y") %}
                    {% if "now"|date("m/d/Y") <= Pub.datefin|date("m/d/Y") %}
                        <div class="single_blog">
                            <div class="single_blog_img">
                                <img src="{{ asset("Uploads/images/") ~ Pub.image }}" alt="">
                                <div class="blog_date text-center">
                                    <div class="bd_month">{{ Pub.datedeb |date("m/d/Y") }}</div>
                                    <div class="bd_month">{{ Pub.datefin |date("m/d/Y") }}</div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}

            {% endfor %}
        </div>


        <div class="col-md-10">
            <section id="product_area" class="section_padding">
                <div class="container">

                    <div class="row">

                        <div class="col-md-12 text-center">
                            <div class="section_title">
                                <h2>Nos <span>Produits</span></h2>
                                <div class="divider"></div>
                            </div>
                        </div>
                    </div>

                    <div class="text-center">
                        <div class="product_filter">
                            <ul>
                                <li class=" active filter" data-filter="all">ALL</li>
                                <li class="filter" data-filter=".sale">Promo</li>


                            </ul>
                        </div>

                        <div class="product_item">
                            <div class="row">
                                {% for p in produits %}
                                    {% set i = 0 %}
                                    {% for x in produitp %}
                                        {% if x.idProduit == p.id and i == 0 %}
                                            {% set i = 1 %}
                                            <div class="col-lg-3 col-md-4 col-sm-6 mix sale">
                                                <div class="single_product">
                                                    <div class="product_image">
                                                        <img src="{{ asset("Uploads/images/") ~ p.image }}" alt=""/>
                                                        <div class="new_badge">{{ x.taux }} %</div>
                                                        <div class="box-content">
                                                            <a href="#"><i class="fa fa-heart-o"></i></a>
                                                            <a href="#"><i class="fa fa-cart-plus"></i></a>
                                                            <a href="{{ path('detailspromotion',{'id':p.id}) }}"><i
                                                                        class="fa fa-search"></i></a>
                                                        </div>
                                                    </div>
                                                    <div class="product_btm_text">
                                                        <h4><a href="#">{{ p.titre }}</a></h4>
                                                        {% if app.user != null %}
                                                            {% set i = 0 %}
                                                            {% for x in users %}
                                                                {% if x.id == p.idartisan and i == 0 %}
                                                                    {% set i = 1 %}
                                                                    <h6 style="font-size: small; color: #1b1e21">
                                                                        <a href="{{ path('others_profil',{'id':x.id}) }}">Par: {{ x.nom }}</a>
                                                                    </h6>
                                                                {% endif %}
                                                            {% endfor %}
                                                        {% endif %}
                                                        <div class="p_rating">

                                                        </div>
                                                        <span class="price">{{ p.prix }}</span>
                                                    </div>


                                                </div>

                                            </div> <!-- End Col -->
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}

                                {% for produit in produits %}


                                    <!-- Mix starts here -->
                                    <div class="col-lg-3 col-md-4 col-sm-6  mix ">
                                        <div class="single_product">
                                            <div class="product_image">
                                                <img src="{{ asset("Uploads/images/") ~ produit.image }}" alt=""/>
                                                <div class="box-content">
                                                    <a href="#"><i class="fa fa-heart-o"></i></a>
                                                    <a href="#"><i class="fa fa-cart-plus"></i></a>
                                                    <a href="{{ path('product_detailss',{'id':produit.id}) }}"><i
                                                                class="fa fa-search"></i></a>                                                </div>
                                            </div>

                                            <div class="product_btm_text">
                                                <h4><a href="#">{{ produit.titre }}</a></h4>
                                                {% if app.user != null %}
                                                    {% set i = 0 %}
                                                    {% for x in users %}
                                                        {% if x.id == produit.idartisan and i == 0 %}
                                                            {% set i = 1 %}
                                                            <h6 style="font-size: small; color: #1b1e21">
                                                                <a href="{{ path('others_profil',{'id':x.id}) }}">Par: {{ x.nom }}</a>
                                                            </h6>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endif %}
                                                <div class="p_rating">

                                                    {% for rate in rating %}
                                                    {% if produit.id == rate.idE %}
                                                    {{ rate.avgrating|rating }}
                                                    {% endif %}
                                                    {% endfor %}


                                                </div>
                                                <span class="price">{{ produit.prix }}0</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Mix ends here-->
                                {% endfor %}


                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="blog_pagination text-center" aria-label="Page navigation example">
        {{ knp_pagination_render(produits) }}
    </div>
    <section id="slider_area" class="text-center">
        <div class="slider_active owl-carousel">
            {% for Pub in Pubs %}
                {% if Pub.datedeb|date("m/d/Y")  <= "now"|date("m/d/Y") %}
                    {% if "now"|date("m/d/Y") <= Pub.datefin|date("m/d/Y") %}
                        <div class="single_slide"
                             style="background-image: url({{ asset("Uploads/images/") ~ Pub.image }}); background-size: cover;height: 200px;background-position: center ;">
                            <div class="container">
                                <div class="single-slide-item-table">
                                    <div class="single-slide-item-tablecell">
                                        <div class="slider_content text-center slider-animated-2">
                                            <div class="bd_month">{{ Pub.datedeb |date("m/d/Y") }}</div>
                                            <div class="bd_month">{{ Pub.datefin |date("m/d/Y") }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </section>

{% endblock %}

{% block notificationBlock %}
    {% if app.user is not null %}
        <div class="post" style="overflow-y: scroll;" >
        {% for notif in notifs %}

            {% if app.user.id != notif.idProduit.idArtisan %}

                <div class="mc-sin-pro fix">
                    <a href="#" class="mc-pro-image float-left"><img
                                src="{{ asset('bundles/main/img/mini-cart/2.jpg') }}"
                                alt=""/></a>
                    <div class="mc-pro-details fix">
                        <a href="#" style="font-size: 12px">{{ notif.message }}</a><br>
                        <img style="width: 60px" src="{{ asset("Uploads/images/") ~ notif.idProduit.image }}" alt=""/>
                        <a href="{{ path('produit_artisan_details', {'id':notif.idProduit.id}) }}">{{ notif.idProduit.titre }}</a>

                        <a class="pro-del" href="#"><i
                                    class="fa fa-times-circle"></i></a>
                    </div>

                </div>

            {% endif %}

        {% endfor %}
        </div>
        <!-- Cart Button -->
        <div class="mc-button">
            <a href="#" class="checkout_btn">Voir plus</a>
        </div>

    {% endif %}
{% endblock %}

