{% extends 'layout/layout.html.twig' %}
{% block mailco %}
    {% if app.user is not null %}
        {{ app.user.email }}
    {% endif %}
{% endblock %}
{% block nameco %}
    {% if app.user is not null %}
        {{ app.user.username }}
    {% endif %}
{% endblock %}
{% block loginbtn %}
    <li class="account_area"><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-lock"></i> Se Déconnecter</a>
    </li>
{% endblock %}

{% block notificationBlock %}
    {% if app.user is not null %}

        {% for notif in notifs %}
            {% if app.user.id != notif.idProduit.idArtisan %}
                <div class="mc-sin-pro fix">
                    <a href="#" class="mc-pro-image float-left"><img
                                src="{{ asset('bundles/main/img/mini-cart/2.jpg') }}"
                                alt=""/></a>
                    <div class="mc-pro-details fix">
                        <a href="#" style="font-size: 12px">{{ notif.message }}</a><br>
                        <img style="width: 60px" src="{{ asset("Uploads/images/") ~ notif.idProduit.image }}" alt=""/>
                        <a href="{{ path('produit_artisan_details', {'id':notif.idProduit.id}) }}">{{ notif.idProduit.titre }}</a>

                        <a class="pro-del" href="#"><i
                                    class="fa fa-times-circle"></i></a>
                    </div>

                </div>
            {% endif %}
        {% endfor %}
        <!-- Cart Button -->
        <div class="mc-button">
            <a href="#" class="checkout_btn">Voir plus</a>
        </div>

    {% endif %}
{% endblock %}
{% block body %}


    <div class="login_page_area">
        <div class="container">
            <div class="row">

                <div class="col-md-12 col-sm-6 col-xs-12">

                        <div class="create_account_area">
                            <h2 class="caa_heading">Ajouter produit </h2>
                            {{ form_start(form) }}

                            <div class="caa_form_area">
                                <div class="caa_form_group">
                                    <div class="login_email">
                                        <label>Categorie</label>
                                        {{  form_widget(form.categorie ,{'attr':{'id':'categorie','placeholder':'Ajouter categorie'}    }) }}

                                        <div class="input-area">

                                        </div>
                                    </div>
                                    <div class="login_email">
                                        <label>Titre</label>
                                        <div class="input-area">
                                            {{ form_widget(form.titre ,{'attr':{'id':'titre','placeholder':'Ajouter titre'}    }) }}
                                        </div>
                                    </div>
                                    <div class="">
                                        <label>Description</label>
                                        <div class="input-area">
                                            {{ form_widget(form.description ,{'attr':{'id':'titre','placeholder':'Ajouter description'}    }) }}

                                        </div>
                                    </div>
                                    <div class="">
                                        <label>prix</label>
                                        <div class="input-area">
                                            {{  form_widget(form.prix ,{'attr':{'id':'titre','placeholder':'Ajouter prix'}    }) }}
                                        </div>
                                    </div>
                                    <div class="">
                                        <label>Quantité</label>
                                        <div class="input-area">
                                            {{  form_widget(form.quantite ,{'attr':{'id':'titre','placeholder':'Ajouter quantité'}    }) }}
                                        </div>
                                    </div>
                                    <div class="">
                                        <label>Image</label>
                                        <div class="input-area">
                                            {{ form_widget(form.image) }}
                                        </div>
                                    </div>

                                         {{ form_widget(form.Ajouter) }}

                                </div>
                            </div>
                        </div>
                    {{ form_end(form) }}



                </div>


            </div>
        </div>
    </div>


    {#<div class="col-lg-offset-3 col-md-6 ">#}
        {#<div class="comment-form">#}
            {#{{ form_start(form) }}#}
            {#<div class="row clearfix">#}

                {#<div class="col-md-6 col-sm-12 col-xs-12 form-group">#}
                    {#{{ form_widget(form.titre ,{'attr':{'id':'titre','placeholder':'Ajouter titre'}    }) }}#}
                {#</div>#}
                {#<div class="col-md-12 col-sm-12 col-xs-12 form-group">#}
                    {#{{  form_widget(form.categorie ,{'attr':{'id':'categorie','placeholder':'Ajouter categorie'}    }) }}#}
                {#</div>#}
                {#<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">#}
                    {#{{ form_widget(form.description ,{'attr':{'id':'titre','placeholder':'Ajouter description'}    }) }}#}
                {#</div>#}
                {#<div class="col-md-12 col-sm-12 col-xs-12 form-group">#}
                    {#{{  form_widget(form.prix ,{'attr':{'id':'titre','placeholder':'Ajouter prix'}    }) }}#}
                {#</div>#}
                {#<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">#}
                    {#{{  form_widget(form.quantite ,{'attr':{'id':'titre','placeholder':'Ajouter quantité'}    }) }}#}
                {#</div>#}
            {#</div>#}

            {#<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">#}
                {#{{ form_widget(form.image) }}#}
            {#</div>#}
            {#<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">#}
                {#{{ form_widget(form.Ajouter) }}#}
            {#</div>#}

        {#</div>#}
        {#{{ form_end(form) }}#}


    {#</div>#}
    {#{{ form_start(form) }}#}
    {#{{ form_row(form.image) }}#}
    {#{{ form_end(form) }}#}

{% endblock %}