{% extends 'layout/layout.html.twig' %}
{% block loginbtn %}
    <li class="account_area"><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-lock"></i> Se Déconnecter</a></li>
{% endblock %}
{% block body %}
    {#<div class="login_page_area">#}
        {#<div class="container">#}
            {#<div class="row">#}

                {#<div class="col-md-12 col-sm-6 col-xs-12">#}
                    {#<form action="{{ path("Ajouter_Produit") }}" method="POST">#}
                        {#<input type="hidden" value="{{ app.user.id }}" name="idArtisan">#}
                        {#<div class="create_account_area">#}
                            {#<h2 class="caa_heading">Information sur le produit </h2>#}
                            {#<div class="caa_form_area">#}
                                {#<div class="caa_form_group">#}
                                    {#<div class="login_email">#}
                                        {#<label>Categorie</label>#}
                                        {#<div class="input-area">#}
                                            {#<input id="categorie" name="categorie" type="text" class="form-control">#}
                                        {#</div>#}
                                    {#</div>#}
                                    {#<div class="login_email">#}
                                        {#<label>Titre</label>#}
                                        {#<div class="input-area">#}
                                            {#<input id="titre" name="titre" type="text" class="form-control">#}
                                        {#</div>#}
                                    {#</div>#}
                                    {#<div class="">#}
                                        {#<label>Description</label>#}
                                        {#<div class="input-area">#}
                                            {#<input  id="description" name="description" type="text"  class="form-control">#}
                                        {#</div>#}
                                    {#</div>#}
                                    {#<div class="">#}
                                        {#<label>prix</label>#}
                                        {#<div class="input-area">#}
                                            {#<input  id="prix" name="prix" type="text"  class="form-control">#}
                                        {#</div>#}
                                    {#</div>#}
                                    {#<div class="">#}
                                        {#<label>Quantité</label>#}
                                        {#<div class="input-area">#}
                                            {#<input  id="quantite" name="quantite" type="text"  class="form-control">#}
                                        {#</div>#}
                                    {#</div>#}
                                    {#<div class="">#}
                                        {#<label>Image</label>#}
                                        {#<div class="input-area">#}
                                            {#<input type="file" name="image">#}
                                        {#</div>#}
                                    {#</div>#}
                                    {#<button type="submit" id="_submit" name="_submit" class="btn btn-default acc_btn">#}
                                        {#<span> <i class="fa fa-lock btn_icon"></i> Ajouter </span>#}
                                    {#</button>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}

                    {#</form>#}
                {#</div>#}

            {#</div>#}
        {#</div>#}
    {#</div>#}
    {{ form_start(form) }}
    {{ form_row(form.image) }}
    {{ form_end(form) }}
{% endblock %}