{% extends 'layout/layout.html.twig' %}
{% block mailco %}
    {% if app.user is not null %}
        {{ app.user.email }}
    {% endif %}
{% endblock %}
{% block nameco %}
    {% if app.user is not null %}
        {{ app.user.username }}
    {% endif %}
{% endblock %}

{% block loginbtn %}
    {% if app.user is not null %}
        <li class="account_area"><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-lock"></i> Se
                Déconnecter</a></li>
    {% else %}
        <li class="account_area"><a href="{{ path('fos_user_registration_register') }}"><i class="fa fa-lock"></i>
                Register</a></li>
        <li class="account_area"><a href="{{ path('fos_user_security_login') }}"><i class="fa fa-lock"></i> Se Connecter</a>
        </li>

    {% endif %}

{% endblock %}

{% block notificationBlock %}
    {% if app.user is not null %}

        {% for notif in notifs %}
            {% if app.user.id != notif.idProduit.idArtisan %}
                <div class="mc-sin-pro fix">
                    <a href="#" class="mc-pro-image float-left"><img
                                src="{{ asset('bundles/main/img/mini-cart/2.jpg') }}"
                                alt=""/></a>
                    <div class="mc-pro-details fix">
                        <a href="#" style="font-size: 12px">{{ notif.message }}</a><br>
                        <img style="width: 60px" src="{{ asset("Uploads/images/") ~ notif.idProduit.image }}" alt=""/>
                        <a href="{{ path('produit_artisan_details', {'id':notif.idProduit.id}) }}">{{ notif.idProduit.titre }}</a>

                        <a class="pro-del" href="#"><i
                                    class="fa fa-times-circle"></i></a>
                    </div>

                </div>
            {% endif %}
        {% endfor %}
        <!-- Cart Button -->
        <div class="mc-button">
            <a href="#" class="checkout_btn">Voir plus</a>
        </div>

    {% endif %}
{% endblock %}
{% block body %}
    <div id="page_item_area">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 text-left">
                    <h3>Blog</h3>
                </div>
            </div>
        </div>
    </div>

    <!-- Blog Page -->
    <div id="blog_page_area">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-xs-12">


                    {% for Blog in Blogs %}
                        <div class="single_blog">
                            <div class="single_blog_img">
                                <img src="{{ asset("Uploads/images/") ~ Blog.image }}" alt="">
                                {% if app.user is not null %}
                                    {% if Blog.idUser== app.user.id %}
                                    <form action="{{ path('Supprimer_blog') }}">
                                        <input type="hidden" value="{{ Blog.id }}" name="id">
                                        <button class="btn btn-default acc_btn">Supprimer</button>

                                        </form>{% endif %}
                                {% endif %}
                                <div class="blog_date text-center">
                                    <div class="bd_month">{{ Blog.dateBlog |date("m/d/Y") }}</div>
                                </div>
                            </div>


                            <div class="blog_content">
                                <h4 class="post_title"><a
                                            href="{{ path('blog_detail', {'id':Blog.id}) }}">{{ Blog.titre }}</a></h4>
                                <ul class="post-bar">
                                    {% for user in users %}
                                        {% if user.id == Blog.idUser %}
                                            <li><i class="fa fa-user"></i>{{ user.username }}</li>
                                        {% endif %}
                                    {% endfor %}
                                    <li><i class="fa fa-comments-o"></i> <a href="{{ path('blog_detail', {'id':Blog.id}) }}">Comments</a></li>

                                </ul>
                                <p>{{ Blog.description }}</p>
                            </div>
                        </div>
                    {% endfor %}
            </div>
                <!-- Blog Sidebar -->
                <div class="col-md-4 col-xs-12">
                    <div class="single_sidebar search_widget">
                        <h3 class="sdbr_title">Search</h3>
                        <div class="sdbr_inner">
                            <form class="search_form" method="post" action="#">
                                <input type="text" class="form-control search_input" name="s" id="s"
                                       placeholder="Search Here ...">
                                <button type="submit" class="search_button"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                    </div>


                    <div class="single_sidebar popular_post">
                        <h3 class="sdbr_title">popular post</h3>
                        <div class="sdbr_inner">
                            <div class="single_popular_post fix">
                                <a href="#" class="spp_img"><img src="{{ asset('img/sidebar/1.jpg') }}" alt=""/></a>
                                <div class="spp_text fix">
                                    <a href="#">Lorem Ipsum is simply 2018.</a>
                                    <p>Posted By John Doe</p>
                                </div>
                            </div>
                            <div class="single_popular_post fix">
                                <a href="#" class="spp_img"><img src="{{ asset('img/sidebar/2.jpg') }}" alt=""/></a>
                                <div class="spp_text fix">
                                    <a href="#">Lorem Ipsum is simply 2018.</a>
                                    <p>Posted By John Doe</p>
                                </div>
                            </div>
                            <div class="single_popular_post fix">
                                <a href="#" class="spp_img"><img src="{{ asset('img/sidebar/3.jpg') }}" alt=""/></a>
                                <div class="spp_text fix">
                                    <a href="#">Lorem Ipsum is simply 2018.</a>
                                    <p>Posted By John Doe</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- End Blog Sidebar -->
        </div>
    </div>
    <div class="blog_pagination text-center" aria-label="Page navigation example">
        {{ knp_pagination_render(Blogs) }}
    </div>
{% endblock %}