{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <div id="page_item_area">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 text-left">
                    <h3>Profile</h3>
                </div>
            </div>
        </div>
    </div>

    <!-- Product Details Area  -->
    <div class="prdct_dtls_page_area">
        <div class="container">
            <div class="row">
                <!-- Product Details Image -->
                <div class="col-md-4 col-xs-12">
                    <div class="pd_img fix">
                        <img src="{{ asset(user.image) }}" alt=""/></a>
                    </div>
                </div>
                <!-- Product Details Content -->
                <div class="col-md-6 col-xs-12">
                    <div class="prdct_dtls_content">
                        <span class="pd_title">{{ user.username }}</span>
                        <div class="pd_text">
                            <span class="pd_title"
                                  style="font-size: 14px; display: contents;">Nom  :</span> {{ user.nom }}
                        </div>
                        <div class="pd_text">
                            <span class="pd_title"
                                  style="font-size: 14px; display: contents;">Prenom  :</span> {{ user.prenom }}
                        </div>
                        <div class="pd_text">
                            <span class="pd_title"
                                  style="font-size: 14px; display: contents;">E-mail  :</span> {{ user.email }}
                        </div>
                        <div class="pd_text">
                            <span class="pd_title"
                                  style="font-size: 14px; display: contents;">Date de naissance  :</span> {{ user.birthdate|date("m/d/Y") }}
                        </div>
                        <div class="pd_text">
                            <span class="pd_title"
                                  style="font-size: 14px; display: contents;">Phone  :</span> {{ user.phone }}
                        </div>
                        <div class="pd_text">
                            <span class="pd_title"
                                  style="font-size: 14px; display: contents;">Adresse  :</span> {{ user.adresse }}
                        </div>
                        {% if app.user == user %}
                        <a href="{{ path('fos_user_change_password') }}">Change Password</a>
                        {% endif %}
                    </div>
                    <!-- Product Action -->
                    {% if is_granted('ROLE_ARTISAN') %}
                    {% if app.user == user %}
                    <div class="pd_btn fix">
                        <a class="btn btn-default acc_btn" href="{{ path('Ajouter_Produit') }}">Ajouter Produit</a>
                    </div>
                    {% endif %}
                    {% endif %}
                    {% if app.user != user %}
                    {% if is_granted('ROLE_MEMBER') %}
                        {% if bool == false %}
                        <div class="pd_btn fix">
                            <a class="btn btn-default acc_btn" href="{{ path('abonnementdemerde', {'idA':user.id, 'idM':app.user.id}) }}">S'abonner</a>
                        </div>
                        {% endif %}
                        {% if bool == true %}
                            <div class="pd_btn fix">
                                <a class="btn btn-default acc_btn" href="{{ path('desabo', {'idA':user.id, 'idM':app.user.id}) }}">Desabo</a>
                            </div>
                        {% endif %}

                    {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- Related Product Area -->
    <div class="related_prdct_area text-center">
        <div class="container">
            <!-- Section Title -->
            <div class="rp_title text-center"><h3>Related products</h3></div>
            <div class="product_item">
                {% for produit in produits %}
                    <div class="col-lg-3 col-md-4 col-sm-6 mix sale">
                        <div class="single_product">
                            <div class="product_image">
                                <img src="{{ asset("Uploads/images/") ~ produit.image }}" alt=""/>
                                <div class="new_badge">New</div>
                                <div class="box-content">

                                    <a href="#"><i class="fa fa-cart-plus"></i></a>
                                    <a href="{{ path('produit_artisan_details',{'id':produit.id}) }}"><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                            <div class="product_btm_text">
                                <h4><a href="#">{{ produit.titre}}</a></h4>
                                <div class="p_rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <span class="price">{{ produit.prix}}</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
